<p id="notice"><%= notice %></p>

<p>
  <b>Githubadd:</b>
  <%= @github_address.githubadd %>
</p>




<%= link_to 'Edit', edit_github_address_path(@github_address) %> |
<%= link_to 'Back', github_addresses_path %>
