<%= simple_form_for([@github_address, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :projectaddress %><br />
    <%= f.text_field :projectaddress %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>