<p id="notice"><%= notice %></p>

<p>
  <b>Blogadd:</b>
  <%= @blog_address.blogadd %>
</p>




<%= link_to 'Edit', edit_blog_address_path(@blog_address) %> |
<%= link_to 'Back', blog_addresses_path %>
